*{
	margin: 0;
	padding: 0;
}
.RecommendFather{
	position: relative;
	overflow: hidden;
	height: 460px;
	margin: 50px 0px;
}
.Recommend{
	margin: 0 auto;
	width: 1200px;
}
.Recommend ul{
	width: 1200px;
	height: 325px;
	list-style-type: none;
	position: relative;
	padding: 0px;
	overflow: hidden;
}
.Recommend li{
	display: inline-block;
	position: absolute;
	background-color: #FFF;
}
.Recommend img{
	width: 751px;
	height: 300px;
	opacity: 1;
}
.Recommend li a{
	background-color: white;
}
.l1{
	transform: translate3d(-74px,0,0) scale(.8);
	z-index: 3;
	transition: transform 1.2s;
}
.l2{
	transform: translate3d(224px,0,0) scale(1);
	z-index: 5;
	transition: transform 1s;
}
.l3{
	transform: translate3d(526px,0,0) scale(.8);
	transition: transform 1.2s;
	z-index: 3;
}
.l4{
	transform: translate3d(1126px,0,0) scale(.8);
	z-index: 1;
	transition: transform 1.5s;
}
.l5{
	transform: translate3d(224px,0,0) scale(.8);
	z-index: 1;
	transition: transform 1.3s;
	opacity: 0;
}
.l6{
	transform: translate3d(-674px,0,0) scale(.8);
	z-index: 1;
	transition: transform 1.5s;
}
.l1 img{
	opacity: .8;
}
.l3 img{
	opacity: .8;
}
.l4 img{
	opacity: .4;
}
.l6 img{
	opacity: .4;
}
a{
	cursor: pointer;
}
/*左右按钮*/
.leftButton,.rightButton{
	display: inline-block;
	width: 74px;
	height: 105px;
	background-color: #D6D6D6;
	position: absolute;
	top: 180px;
	cursor: pointer;
}
.allButton:hover{
	background-color: #31C27C;
}
.allButton i{
	display: inline-block;
	width: 35px;
	height: 35px;
	position: absolute;
}
.rightButton i{
	background-image: url(../images/icon_sprite@2x.png);
	background-position: -315px 0px;
	left:20px;
	top: 30px;
}
.leftButton i{
	background-image: url(../images/icon_sprite@2x.png);
	background-position: -356px 0px;
	top: 30px;
	left:20px;
}
/*顶部文字样式*/
.RecommendTop{
	text-align: center;
	font-size: 46px;
	font-family: '微软雅黑';
	margin-bottom: 30px;
}
.RecommendTop i{
	display: inline-block;
	margin: 0 50px;
	width: 80px;
	height: 1px;
	background-color: #E6E6E6;
	vertical-align: middle;
}